*{
    margin: 0;
    padding: 0;
    --primary-color: #ED6237;
    --secondary-color: #040404;
}

#main{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right , var(--primary-color) 10% , orange);
}

.sub-div{
    font-size: 4vw;
    overflow: hidden;
    transition: all .3s ease-in-out;
    border-right: 1px solid;
    width: fit-content;
    padding: 2vh 0vw;
    font-family: 'Audiowide' , sans-serif;
    letter-spacing: 5px;
    color: var(--secondary-color);
}

nav{
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    height: 6vh;
}

nav ul{
    width: 80vw;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vw;
    font-family: arial;
}

nav a{
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--primary-color);
    text-decoration: none;
    padding: 1vh 1vw;
}

body{
    background-color: var(--secondary-color);
    overflow: hidden;
}

.intro-div{
    color: var(--primary-color);
    display: flex;
    font-family: 'Rajdhani' , sans-serif;
    align-items: center;
    justify-content: space-between;
}

.intro-div h2{
    font-size: 5vh;
}

#name{
    font-size: 10vh;
}

.details{
    padding: 0 3vw;
}

.logo-div{
    width: 33vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 2vw;
    position: relative;
}

#logo-section{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

#logo-section:hover{
    opacity: 1;
    cursor: pointer;
}
