*{
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right , #ED6237 10% , orange);
}

.sub-div{
    font-size: 4vw;
    overflow: hidden;
    transition: all .3s ease-in-out;
    border-right: 1px solid;
    width: fit-content;
    padding: 2vh 0vw;
    font-family: 'Audiowide' , sans-serif;
    letter-spacing: 5px;
    color: #040404;
}

nav{
    background-color: black;
}

nav ul{
    width: 80vw;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vw;
    font-family: arial;
}

nav a{
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ED6237;
    text-decoration: none;
    padding: 1vh 1vw;
}

body{
    background-color: #040404;
}

.intro-div{
    color: #ED6237;
    display: flex;
    font-family: 'Rajdhani' , sans-serif;
    align-items: center;
}

.intro-div h2{
    font-size: 5vh;
}

.intro-div h1{
    font-size: 8vh;
}

.details{
    padding: 0 3vw;
}

.logo-div{
    width: 33vw;
    aspect-ratio: 1 / 1;
    /* border: 3px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 2vh 2vw 2vh auto;
}

img{
    width: 60vw;
}