*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg{
    position: absolute;
    width: 100%;
    filter: blur(10px);
    transform: rotateY(180deg);
}

form{
    width: fit-content;
}

table{
    border-collapse: collapse;
    text-align: left;
    position: relative;
    border: 1px solid;
    padding: 2vh 0;
}

caption{
    font-family: 'Rajdhani', sans-serif;
    font-style: italic;
    font-size: 4.5vw;
    font-weight: 900;
    border: 1px solid;
    border-bottom: none;
}

th{
    font-family: 'Cherry Bomb One', cursive;
    font-size: 2vw;
    font-weight: 100;
    padding: 0 5vw;
}

td{
    font-family: 'Raleway' , sans-serif;
    padding: 0 2vw 0 5vw;
    font-weight: 900;
}

tr:last-child td{
    text-align: center;
    padding-bottom: 2vh;
}

input , textarea , select{
    width: 100%;
    padding: 1vh 1vw;  
    font-family: 'Raleway' , sans-serif; 
    font-weight: 900;
    background: transparent;
    border: 1px solid black;
    backdrop-filter: brightness(1.2);
}

*::placeholder{
    color: black;
}

input[type="radio"]{
    width: fit-content;
    margin: 0 1vw;
}

tr:last-child td input{
    padding: 1vh 2vw;
    margin-top: 2vh;
    width: fit-content;
    background-color: yellowgreen;
    border: none;
    font-family: 'Raleway' , sans-serif;
    font-weight: 900;
    transition: all 0.2s ease;
    border-radius: 1vh;
}

tr:last-child td input:hover{
    border-radius: 0;
    box-shadow: 3px 3px 0 black;
}